* {
	font-family: 'Zed Mono Extended', 'JetBrains Mono', monospace;
}

.monaco-workbench .part.sidebar.part.sidebar,
.monaco-workbench .pane-header.pane-header,
.monaco-workbench .suggest-input-container.suggest-input-container {
  background-color: transparent !important;
}

.monaco-workbench .sticky-widget.sticky-widget {
  background-color: rgba(37, 37, 37, 0.5) !important;
  box-shadow: none !important;
}


