[user]
	email = phoomparin@gmail.com
	name = Phoomparin Mano
	signingkey = 40A6176B3534A1E2487E0802AF477883B952295C

[credential]
	helper = osxkeychain

[core]
  editor = nvim
	pager = diff-so-fancy | less --tabs=4 -RFX
	# pager = nvim -R

[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process

[commit]
	gpgsign = true

[rerere]
	enabled = true
	autoupdate = true

[color]
	ui = true
	diff = true

[merge]
	tool = vimdiff

[mergetool]
  prompt = true
	path = nvim

[mergetool "vimdiff"]
  cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'

[diff]
	tool = vimdiff

[difftool]
  prompt = false
[pull]
	rebase = false
[gpg]
	program = gpg
