let mapleader = ' '

set surround
set multiple-cursors
set commentary
set easymotion

set number
set incsearch hlsearch
set ignorecase smartcase
set clipboard=unnamed
set scrolloff=5
set showmode
set ideajoin

set clipboard+=ideaput
