.theme-dark {
  --background-primary: #282a36;
  --background-primary-alt: #282a36;
  --background-secondary: #282a36;
  --background-secondary-alt: #282a36;
  --text-normal: #f8f8f2;
  --text-faint: #bd93f9;
  --text-title-h1: #ff79c6;
  --text-title-h2: #bd93f9;
  --text-title-h3: #ff5555;
  --text-title-h4: #ffb86c;
  --text-title-h5: #50fa7b;
  --text-title-h6: #8be9fd;
  --text-link: #8be9fd;
  --text-a: #50fa7b;
  --text-a-hover: #bd93f9;
  --text-mark: #6272a4;
  --pre-code: #282a36;
  --text-highlight-bg: #6272a4;
  --interactive-accent: #bd93f9;
  --interactive-before: #bd93f9;
  --background-modifier-border: #4d5166;
  --blockquote-border: #bd93f9;
  --text-accent: #8be9fd;
  --interactive-accent-rgb: #bd93f9;
  --text-muted: #bbb;

  --color-green: #50fa7b;
  --color-cyan: #8be9fd;

  --app-font-family: "JetBrains Mono", iAWriterQuattroV-Text, monospace;
  --app-font-weight: 500;

  --heading-font: JetBrainsMonoNerdFontCompleteM-Bold, iAWriterDuoV-Bold,
    "JetBrains Mono", Avenir, iAWriterQuattroV-Text, monospace;
  --heading-font-weight: normal;

  --editor-font-family: JetBrainsMonoNerdFontCompleteM-Medium, iAWriterDuoV-Text,
    "JetBrains Mono", iAWriterQuattroV-Text, "Thonburi", monospace;
  --editor-font-size: 24px;
  --editor-font-weight: normal;

  --preview-font-family: "iA Writer Duospace", "Helvetica Neue",
    "JetBrains Mono", iAWriterQuattroV-Text, monospace;
  --preview-font-weight: 300;

  --code-font-family: JetBrainsMonoNerdFontCompleteM-Medium, "JetBrains Mono",
    monospace;

  --nav-file-font-weight: 300;

  --background: #282a36;
  --comment: #6272a4;
  --foreground: #f8f8f2;
  --selection: #44475a;

  --cyan: #8be9fd;
  --green: #50fa7b;
  --orange: #ffb86c;
  --pink: #ff79c6;
  --purple: #bd93f9;
  --red: #ff5555;
  --yellow: #f1fa8c;
}

.titlebar-text {
  background: var(--background-primary) !important;
}

#graph-view-canvas .links {
  stroke: var(--interactive-accent-rgb) !important;
}

.checkbox-container {
  background-color: #4d5166;
  height: 16px !important;
  width: 34px !important;
}

.checkbox-container:after {
  background-color: var(--background-secondary-alt);
  height: 11px !important;
  width: 14px !important;
  left: -4px !important;
}

html,
body {
  font-size: 18px;
}

strong {
  font-weight: bolder;
}

a,
.internal-link,
.cm-hmd-internal-link,
.cm-link,
.cm-formatting-link {
  color: var(--text-a) !important;
  text-decoration: none !important;
}

.cm-formatting-link {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif !important;
}

a:hover,
.internal-link:hover {
  color: var(--text-a-hover) !important;
  text-decoration: none !important;
}

mark {
  background-color: var(--text-mark) !important;
}

.file-view-actions a {
  color: var(--text-normal) !important;
}

.file-view-actions a:hover {
  color: var(--text-a) !important;
}

.cl-underlined-text {
  text-decoration: none !important;
  color: var(--text-link) !important;
}

.cm-tag {
  color: var(--text-faint);
}

pre code {
  padding: 8px !important;
  line-height: normal;
  display: block;
  background-color: var(--pre-code) !important;
}

.markdown-preview-view pre {
  padding: 0px !important;
}

code,
.cm-inline-code {
  background-color: var(--pre-code) !important;
  color: var(--text-muted) !important;
  bottom: 0px !important;
}

.markdown-preview-view code {
  font-size: 13.5px;
}

th {
  font-weight: 600 !important;
}

thead {
  border-bottom: 2px solid var(--background-modifier-border);
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

blockquote {
  border-color: var(--blockquote-border) !important;
}

.markdown-preview-view hr {
  background-color: var(--text-normal);
}

.main-container-header {
  padding-top: 0 !important;
}

.title {
  font-weight: 600 !important;
}

.side-dock-panels-container {
  border-right: 1px solid var(--background-secondary-alt) !important;
}

.side-dock-panels-container * {
  font-size: 14px !important;
}

.side-dock-title {
  padding-top: 14px !important;
  font-size: 15px !important;
  font-weight: 500;
}

.side-dock-ribbon-tab,
.side-dock-ribbon-action,
.workspace-tab-header {
  stroke-width: 1px;
  color: #6272a4;
}

.side-dock-ribbon-tab.is-active .side-dock-ribbon-tab-inner,
.workspace-tab-header.is-active .workspace-tab-header-inner {
  color: #be93f9;
}

.side-dock-ribbon-tab:hover,
.side-dock-ribbon-action:hover,
.side-dock-ribbon-action.is-active:hover,
.nav-action-button:hover,
.side-dock-collapse-btn:hover {
  color: var(--text-a);
}

.nav-file {
  line-height: normal;
}

.nav-file-title-content {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.plugin {
  padding: 5px 10px !important;
  margin: 0 !important;
}

.markdown-preview-view p {
  font-family: var(--preview-font-family);
}

.CodeMirror-scroll::-webkit-scrollbar {
  display: none;
}

.markdown-preview-view {
  font-family: var(--preview-font-family);
  font-size: 18px;
  padding-left: 10% !important;
  padding-right: 10% !important;
}

.markdown-preview-view {
  font-weight: 400;
}

.markdown-embed-title {
  font-weight: 600;
}

.markdown-embed {
  padding-left: 10px !important;
  padding-right: 10px !important;
  margin-left: 10px !important;
  margin-right: 10px !important;
}

.markdown-preview-view h1,
.markdown-preview-view h2,
.markdown-preview-view h3,
.markdown-preview-view h4,
.markdown-preview-view h5,
.markdown-preview-view h6 {
  font-family: var(--preview-font-family);
  font-weight: bold;
}

.cm-header-1,
.cm-header-2,
.cm-header-3,
.cm-header-4,
.cm-header-5,
.cm-header-6 {
  font-family: var(--heading-font);
  font-weight: var(--heading-font-weight) !important;
}

.cm-header-1 {
  font-size: 30px;
  color: var(--text-title-h1);
}

.cm-header-2 {
  font-size: 26px;
  color: var(--text-title-h2);
}

.cm-header-3 {
  font-size: 26px;
  color: var(--text-title-h3);
}

.cm-header-4,
.markdown-preview-view h4 {
  font-size: 22px;
  color: var(--text-title-h4);
}

.cm-header-5,
.markdown-preview-view h5 {
  font-size: 20px;
  color: var(--text-title-h5);
}

.cm-header-6,
.markdown-preview-view h6 {
  font-size: 20px;
  color: var(--text-title-h6);
}

.table {
  background-color: var(--background-secondary-alt);
  border: 1px solid var(--background-modifier-border);
  padding: 4px;
  line-height: normal;
  display: block;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.suggestion-item.is-selected {
  background-color: #4d5166;
}

.theme-light strong {
  color: var(--text-a) !important;
  font-weight: bolder;
}

.theme-light em {
  color: #000000;
}

.theme-dark strong {
  color: var(--text-a) !important;
  font-weight: bolder;
}

.theme-dark em {
  color: #b5c7c7;
}

.cm-s-obsidian .cm-strong {
  font-weight: bolder;
  color: var(--text-a) !important;
}

.search-result-file-title {
  color: var(--text-a) !important;
  font-weight: bolder;
}

/* condense line spacing on file explorer title list. also avoids character-level word breaks*/
.nav-file-title-content,
.search-result-file-title,
.search-result-file-match,
.search-result-file-title {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  line-height: normal !important;
  word-break: keep-all;
}

/*clean up side bar empty state (e.g. unlinked mentions not having odd spacing when side bar is narrow)*/
.search-empty-state {
  width: auto;
  padding-left: 15px;
  padding-right: 15px;
  line-height: normal;
}

/* Changing backlink pane font-size and color*/
.search-result-file-matches {
  color: var(--text-normal) !important;
}

/*Editor and line-height adjustment*/
.cm-s-obsidian,
.app-container {
  font-family: var(--app-font-family);
  font-weight: var(--app-font-weight);
  line-height: 150%;
}

body,
p {
  font-family: var(--app-font-family);
  font-size: 20px; /*preview font-size*/
}

.editor {
  font-family: var(--editor-font-family);
  font-weight: var(--editor-font-weight);
  font-size: 18px;
}

.preview {
  font-family: var(--app-font-family);
  font-size: 8px;
}

.workspace-leaf {
}

.view-header {
}

.workspace-leaf.mod-active .view-header {
}

.view-header-title-container {
  padding-left: 20px;
}

.workspace-leaf-resize-handle {
  border-left: solid 1px var(--background-modifier-border);
}

.workspace-leaf.mod-active .view-header-title-container:after {
  background: linear-gradient(
    to bottom,
    transparent,
    var(--background-primary-alt)
  );
}

/*header background fix*/
.workspace-leaf.mod-active .view-header-title-container:after {
  background: none;
}

/*Editor padding and font-size*/
.cm-s-obsidian {
  padding-left: 10% !important;
  padding-right: 10% !important;
  font-family: var(--editor-font-family);
  font-size: var(--editor-font-size) !important;
  font-weight: var(--editor-font-weight) !important;
}

.view-header-title {
  font-weight: 500;
  line-height: 40px;
}

.cm-s-obsidian span.cm-hashtag {
  color: var(--color-green);
  text-decoration: none;
}

.cm-fat-cursor .CodeMirror-cursor,
.cm-animate-fat-cursor {
  background: #4b4e5b;
}

.CodeMirror-selected {
  background: #4b4e5b !important;
}

.nav-files-container {
  font-weight: var(--nav-file-font-weight);
}

.empty-state-title {
  font-weight: 400;
}

.empty-state-action {
  font-weight: 300;
}

.empty-state-action:hover {
  color: white;
}

.cm-s-obsidian pre.HyperMD-codeblock {
  color: white;
  font-family: var(--code-font-family);
  line-height: 1.7;
  font-weight: normal;
}

.horizontal-tab-nav-item:hover,
.vertical-tab-nav-item:hover {
  background: #333540;
}

.markdown-source-view.is-readable-line-width .CodeMirror {
  max-width: 1200px;
}

.nav-header {
  padding-top: 25px;
}

.workspace-leaf-content[data-type="search"] {
  padding-top: 15px;
}

.workspace-leaf-content .search-input {
  font-family: "JetBrains Mono";
}

*::selection {
  background: #dddddd33;
}

/**
 * Prism
 */

.markdown-preview-section .prism {
  color: #eee !important;
  font-size: 20px;
  font-family: var(--code-font-family) !important;
}

.markdown-preview-section .prism .token {
  color: var(--pink);
}

.markdown-preview-section .prism .token.script {
  color: var(--foreground);
}

.markdown-preview-section .prism .token.atrule,
.markdown-preview-section .prism .token.attr-name,
.markdown-preview-section .prism .token.attr-value {
  color: var(--green);
}

.markdown-preview-section .prism.language-html .token.attr-value,
.markdown-preview-section .prism.language-markup .token.attr-value {
  color: var(--yellow);
}

.markdown-preview-section .prism .token.boolean {
  color: var(--purple);
}

.markdown-preview-section .prism .token.builtin,
.markdown-preview-section .prism .token.class-name {
  color: var(--cyan);
}

.markdown-preview-section .prism .token.comment {
  color: var(--comment);
}

.markdown-preview-section .prism .token.constant {
  color: var(--purple);
}

.markdown-preview-section .prism.language-js .token.constant {
  color: var(--orange);
  font-style: italic;
}

.markdown-preview-section .prism .token.entity {
  color: var(--pink);
}

.markdown-preview-section .prism.language-css .token.entity {
  color: var(--green);
}

.markdown-preview-section .prism.language-html .token.entity {
  color: var(--pink);
}

.markdown-preview-section .prism .token.function {
  color: var(--green);
}

.markdown-preview-section .prism .token.important,
.markdown-preview-section .prism .token.keyword {
  color: var(--pink);
}

.markdown-preview-section .prism .token.prolog {
  color: var(--foreground);
}

.markdown-preview-section .prism .token.property {
  color: var(--orange);
}

.markdown-preview-section .prism .token.punctuation {
  color: var(--pink);
}

.markdown-preview-section .prism.language-html .token.punctuation,
.markdown-preview-section .prism.language-markup .token.punctuation {
  color: var(--foreground);
}

.markdown-preview-section .prism .token.selector {
  color: var(--pink);
}

.markdown-preview-section .prism.language-css .token.selector {
  color: var(--pink);
}

.markdown-preview-section .prism .token.regex {
  color: var(--red);
}

.markdown-preview-section .prism .token.string {
  color: var(--yellow);
}

.markdown-preview-section .prism .token.tag {
  color: var(--pink);
}

.markdown-preview-section .prism .token.url {
  color: var(--cyan);
}

.markdown-preview-section .prism .token.variable {
  color: var(--comment);
}

.markdown-preview-section .prism .token.number {
  color: rgba(189, 147, 249, 1);
}

.markdown-preview-section .prism .token.operator {
  color: var(--pink);
  /* color: rgba(139, 233, 253, 1); */
}

.markdown-preview-section .prism .token.char {
  color: rgba(255, 135, 157, 1);
}

.markdown-preview-section .prism .token.symbol {
  color: rgba(255, 184, 108, 1);
}

.markdown-preview-section .prism .token.deleted {
  color: #e2777a;
}

.markdown-preview-section .prism .token.namespace {
  color: #e2777a;
}

/* Obsidian graph view colors */
.graph-view.color-fill {
  color: #8be9fd;
}

.graph-view.color-line {
  /* color: white; */
}

.graph-view.color-text {
  /* color: #cccccc; */
}

.graph-view.color-fill-highlight {
  color: #8be9fd;
}

.graph-view.color-line-highlight {
  color: #8be9fd;
}

.theme-dark .graph-view.color-fill-tag {
  color: #bd93f9;
}

.graph-view.color-fill-attachment {
  color: #d669bc;
}

.graph-view.color-fill-unresolved {
  color: #bd93f9;
  opacity: 1;
}

.graph-view.color-arrow {
  color: #d669bc;
}
