[data]
# Default username.
user = "poom"

# Email (used for git)
email = "phoomparin@gmail.com"

# Full Name (used for git)
full_name = "Phoomparin Mano"

[data.git]
# PGP signing key
signing_key = "C69E727EDDDB211B7E30D78439C5516D7CFA6361"

[merge]
command = "nvim"
args = ["-d", {{ `"{{ .Destination }}", "{{ .Source }}", "{{ .Target }}"` }}]
