#header {
  border: none;
  box-shadow: 0 0 8px 8px rgba(0, 0, 0, 0.15);
}

#stylus-edit {
  color: #ddd;
  background: #282a36;
  font-family: 'JetBrains Mono', monospace;
}

.CodeMirror.cm-s-dracula {
  font-size: 24px;
  line-height: 1.5;
  font-family: 'JetBrains Mono', monospace;
  outline: none;
}

input#name {
  margin-bottom: 12px;
}

button, input, select {
  color: white !important;
  background: transparent !important;
  border: none;
  border-radius: 8px;
}

input {
  border-color: rgba(255, 255, 255, 0.3) !important;
}

button:hover {
  color: #2d2d30 !important;
  background: #eee !important;
}

svg.svg-icon {
  fill: white !important;
}

.applies-to-help svg.svg-icon.info {
  margin-left: 8px;
}

.resize-grip,
.resize-grip:after {
  border: none;
  cursor: pointer;
}