:root {
  --poom-background: rgba(12, 14, 14, 1.0);
}

.status-bar-item.plugin-smart-connections {
  display: none;
}

.status-bar-item.plugin-obsidian-textgenerator-plugin {
  display: none;
}

.status-bar-item.plugin-obsidian-plugin-update-tracker {
  filter: sepia(0.5) grayscale(0.5);
}

.workspace-leaf-content .smart-chat-brand {
  display: none;
}

.cm-contentContainer {
  line-height: 1.7 !important;
}

body.minimal-theme {
  --background-primary: var(--poom-background);
}

.workspace-tabs.mod-top, .workspace-tab-header-container {
  --tab-container-background: var(--poom-background);
}

.is-translucent:not(.is-fullscreen) .workspace-tab-header.is-active.mod-active {
  background: rgba(0, 0, 0, 0.2);
}

.is-hidden-frameless.theme-dark:not(.minimal-dark-black):not(.colorful-frame).is-focused .sidebar-toggle-button.mod-right, .is-hidden-frameless.theme-dark:not(.minimal-dark-black):not(.colorful-frame).is-focused .workspace-ribbon.mod-left.is-collapsed, .is-hidden-frameless.theme-dark:not(.minimal-dark-black):not(.colorful-frame).is-focused .workspace-tabs.mod-top, .is-hidden-frameless.theme-light:not(.minimal-light-tonal):not(.colorful-frame).is-focused .sidebar-toggle-button.mod-right, .is-hidden-frameless.theme-light:not(.minimal-light-tonal):not(.colorful-frame).is-focused .workspace-ribbon.mod-left.is-collapsed, .is-hidden-frameless.theme-light:not(.minimal-light-tonal):not(.colorful-frame).is-focused .workspace-tabs.mod-top {
  --titlebar-background-focused: var(--poom-background);
}

.is-hidden-frameless:not(.is-fullscreen) .workspace-tabs.mod-top-left-space .workspace-tab-header-container {
  padding-left: calc(var(--size-4-6) + var(--frame-left-space));
}

span.cm-hmd-list-indent span.cm-indent {
  width: 2ch;
}

.sc-brand {
  display: none;
}

.svelte-1jrmech > .rowHeader > div {
  margin-right: 10px;
}

.svelte-1myw14o {
  font-size: 22px;
}

.markdown-source-view.mod-cm6 .cm-hmd-list-indent {
  text-indent: 1ch;
}

.cm-fat-cursor {
  border-left-width: 1px;
  border-right-width: 1px;
  tab-size: 1ch !important;
}

.database-plugin__relationship.is-loaded .el-p {
  padding-left: 0px;
  padding: 0 5px;
}

.database-plugin__relationship.is-loaded .el-p p {
  color: black;
}

div.database-plugin__td.database-plugin__row-context-menu.data-input > div > div > div > div.el-p > p {
  color: #efefef;
}

.database-plugin__td.data-input .database-plugin__text-align-left {
  margin-left: 10px;
}

.theme-dark .graph-view.color-fill-tag {
  color: #555;
}

.mk-file-context-value .mk-cell-checkbox-item input[type=checkbox] {
  --checkbox-size: 14px;
}

.mk-file-context-value .mk-cell-checkbox-item > div {
  display: none;
}

.nav-folder-title-content, .nav-file-title-content {
  color: #bababa;
}

.nav-file-title.is-active .nav-file-title-content {
  color: white;
}

.is-translucent:not(.is-fullscreen) .titlebar, .is-translucent:not(.is-fullscreen) .app-container {
  background-color: rgb(10 10 10 / 70%);
}

.is-translucent:not(.is-fullscreen) .workspace-split.mod-root .view-content, .view-header {
  background-color: rgb(10 10 10 / 30%) !important;
}

div.svelte-kq39qk {
  background-color: transparent !important;
}

.markdown-source-view.is-readable-line-width .CodeMirror,
.markdown-preview-view.is-readable-line-width .CodeMirror,
.markdown-source-view.is-readable-line-width .markdown-preview-sizer,
.markdown-preview-view.is-readable-line-width .markdown-preview-sizer {
  max-width: 1000px;
  margin: auto;
}

.is-fullscreen .view-header {
  background-color: transparent !important;
}

.workspace-split.mod-root .workspace-tab-header.is-active::before, .workspace-split.mod-root .workspace-tab-header.is-active::after {
  box-shadow: none;
}

.HyperMD-header.HyperMD-header-1 {
  padding-bottom: 16px !important;
}

.HyperMD-header.HyperMD-header-2 {
  padding-bottom: 12px !important;
}

.metadata-properties-heading {
  font-family: "Zed Mono Extended";
  font-size: 16px;
}

