{
	"printWidth": 80,
	"tabWidth": 2,
	"singleQuote": true,
	"trailingComma": "all",
	"bracketSpacing": false,
	"semi": false,
	"useTabs": false,
	"parser": "babel",
	"jsxBracketSameLine": true,
	"overrides": [
		{
			"files": "*.ts",
			"options": {
				"parser": "typescript"
			}
		},
		{
			"files": "*.tsx",
			"options": {
				"parser": "typescript"
			}
		}
	]
}
