#!/usr/bin/env bash

GRAY="\e[90m"
YELLOW="\e[93m"
PURPLE="\e[95m"
RESET="\e[0m"

export DEBIAN_FRONTEND="noninteractive"

SETUP_PATH="$(chezmoi source-path)/../setup"
cd $SETUP_PATH

function run_setup_script {
	for script in $(ls $1/*.sh)
	do
		echo -e "$2$script$RESET"

		$script
	done
}

{{ if eq .chezmoi.os "linux" -}}
	run_setup_script "linux" "⚪ $GRAY"
{{ else if eq .chezmoi.os "darwin" -}}
	run_setup_script "macos" "🟣 $PURPLE"
{{ else }}
  echo "😢 Unsupported OS."
{{ end -}}

run_setup_script "common" "🟡 $YELLOW"
