#!/usr/bin/env bash

GRAY="\e[90m"
YELLOW="\e[93m"
BLUE="\e[94m"
PURPLE="\e[95m"
RESET="\e[0m"

export DEBIAN_FRONTEND="noninteractive"

cd "{{ .chezmoi.sourceDir }}/../setup"

function run_setup_script {
	for script in $(ls $1/*.*sh)
	do
		echo -e "$2$script$RESET"
		$script
	done
}

# initialize the workspace.
run_setup_script "init" "🧡 $YELLOW"

# setup os-specific environments.
# linux and macOS are supported.
# windows is not yet supported.
{{ if eq .chezmoi.os "linux" -}}
	run_setup_script "linux" "⚪ $GRAY"
{{ else if eq .chezmoi.os "darwin" -}}
	run_setup_script "macos" "🟣 $PURPLE"
{{ else }}
  echo "😢 Unsupported OS."
{{ end -}}

# setup shared CLI environment and tools.
run_setup_script "shared" "🟡 $YELLOW"

# configure fish plugins and universal variables.
run_setup_script "fish" "🔵 $BLUE"
